

  #demo {
    background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
    /* max-width: 1600px; */
    margin: auto
}
.carousel-inner img:not(.non-animated) {
  width: 10% !important;
  animation: immortalkenburns 0ms linear 0s infinite alternate !important;
}
#header {
    width: 100%;
    z-index: 99;
}
.menu-links {
    width: 320px;
    margin-left: auto ;
    margin-top: 12px;
}
.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}
.spinner-wrapper {
    position: absolute;
    height: 1100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    
    background-size: 100%;
}
.model-content-wrapper {
    height: 240px;
}
@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
    .menu-links {
        width: 155px;
        margin-left: auto ;
        margin-right: 132px ;
        margin-top: 12px;
    }
    #header {
        width: 79%;
        z-index: 99;
    }
    .text-sm-screen {
        
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
    .menu-links {
        width: 155px;
        margin-left: auto ;
        margin-right: 132px ;
        margin-top: 12px;
    }
    #header {
        width: 79%;
        z-index: 99;
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
    .menu-links {
        width: 155px;
        margin-left: auto ;
        margin-right: 132px ;
        margin-top: 12px;
    }
    #header {
        width: 79%;
        z-index: 99;
    }
}

.fa-arrow-left-custom ,.fa-arrow-right-custom {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
    .menu-links {
        width: 155px;
        margin-left: auto ;
        margin-right: 132px ;
        margin-top: 12px;
    }
    #header {
        width: 79%;
        z-index: 99;
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}
@media screen and (max-width: 992px) {
.mega-menu .menu-links {
    background: transparent;
}
.registerMenuButton {
    font-size: 8px;
    padding: 7px;
}
.loginMenuButton {
    font-size: 8px;
    padding: 7px;
}
.mega-menu .menu-links {
display: flex;
/* width: 50%; */
}
#header {
    width: 79%;
    z-index: 99;
}
}