.progress {
    width: 40px;
    height: 40px;
        font-size: 10px;
    color: green;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: white;
    text-align: center;
    line-height: 200px;
    /* margin: 20px */
}
.progress-custom {
    width: 40px;
    height: 40px;
        font-size: 10px;
    color: black;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: white;
    text-align: center;
    line-height: 200px;
    /* margin: 20px */
}

.progress::after {content: "%";}
.progress-custom::after {content: "%";}

.progress .title {
    position: relative;z-index: 100;
    margin-left: auto;}
.progress-custom .title-custom {
    position: relative;
    z-index: 100;
    margin-left: 12px;
      top: -81px;
}
.progress-circle span {
    padding: 3px;
    font-size: 8px;
}

.progress-circle-green span {
    padding: 3px;
    font-size: 8px;
}
.progress-circle {
    border: 6px solid rgb(255, 111, 111);
   border-radius: 50%;
}
.progress-circle-green {
    border: 6px solid rgb(20, 153, 3);
    border-radius: 50%;
}
/* .progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(255, 196, 196)37, 203, 189);
} */
.progress-custom .overlay-custom {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: white;
}

.progress .left, .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid rgb(237, 34, 92);
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}
.progress-custom .left-custom, .progress-custom .right-custom {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 6px solid #598012;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.progress .left {animation: load1 1s linear forwards;}
.progress-custom .left-custom {animation: load1 1s linear forwards;}

.progress:nth-of-type(2) .right, .progress:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

.progress:last-of-type .right, .progress:first-of-type .right {animation: load3 .8s linear forwards 1s;}

.progress-custom:nth-of-type(2) .right-custom, .progress-custom:nth-of-type(3) .right-custom {animation: load2 .5s linear forwards 1s;}

.progress-custom:last-of-type .right-custom, .progress-custom:first-of-type .right-custom {animation: load3 .8s linear forwards 1s;}

@keyframes load1 {
    0% {transform: rotate(0deg);}

    100% {transform: rotate(180deg);}
}

@keyframes load2 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {z-index: 100;transform: rotate(270deg);}
}

@keyframes load3 {
    0% {z-index: 100;transform: rotate(180deg);}

    100% {
        z-index: 100;transform: rotate(315deg);}
}

.custom-card {
    width: 21%;
}
@media (max-width: 480px) { 
    .nav-item-mobile {
      display: block;
    }
    .progress-circle {
      border: unset;
      border-radius: 50%;
  }
  .custom-card {
    width: 100%;
}
   }
  
  @media (max-width: 767px) { 
    .nav-item-mobile {
      display: block;
    }
    .progress-circle {
      border: unset;
      border-radius: 50%;
  }
  .custom-card {
    width: 100%;
}
   }
  
  
  @media (min-width: 768px) and (max-width: 979px) { 
    .nav-item-mobile {
      display: block;
    }
    .progress-circle {
      border: unset;
      border-radius: 50%;
  }
  .custom-card {
    width: 100%;
}
   }